<r:set_var name="backpage_header" value="{$backpage_header}" default="true">
  <r:page:data name="backpage_header" />
</r:set_var>

<r:if v1="{$backpage_header}" v2="true" op="=">
  <r:partial name="custom-patterns/so-backpage-header" />
</r:if>


<!-- Slot 1 -->

<r:set_var name="slot_01">
  <r:page:data name="slot_01" />
</r:set_var>

<r:if v1="{$slot_01}" v2="lede" op="=">
  <r:partial name="custom-patterns/so-lede" />
</r:if>

<r:if v1="{$slot_01}" v2="video" op="=">
  <r:partial name="custom-patterns/so-video" />
</r:if>

<r:if v1="{$slot_01}" v2="hero" op="=">
  <r:partial name="custom-patterns/so-hero" />
</r:if>

<r:if v1="{$slot_01}" v2="featurettes" op="=">
  <r:partial name="custom-patterns/so-featurettes" />
</r:if>

<!-- Slot 2 -->

<r:set_var name="slot_02">
  <r:page:data name="slot_02" />
</r:set_var>

<r:if v1="{$slot_02}" v2="lede" op="=">
  <r:partial name="custom-patterns/so-lede" />
</r:if>

<r:if v1="{$slot_02}" v2="video" op="=">
  <r:partial name="custom-patterns/so-video" />
</r:if>

<r:if v1="{$slot_02}" v2="featurettes" op="=">
  <r:partial name="custom-patterns/so-featurettes" />
</r:if>

<!-- Slot 3 -->

<r:set_var name="slot_03">
  <r:page:data name="slot_03" />
</r:set_var>

<r:if v1="{$slot_03}" v2="lede" op="=">
  <r:partial name="custom-patterns/so-lede" />
</r:if>

<r:if v1="{$slot_03}" v2="video" op="=">
  <r:partial name="custom-patterns/so-video" />
</r:if>

<r:if v1="{$slot_03}" v2="featurettes" op="=">
  <r:partial name="custom-patterns/so-featurettes" />
</r:if>
