<ul class="wvu-calendar wvu-calendar--flex">

  <r:if expr="{{ NOT(BLANK(calendar_feed_page)) }}">
    <script language="javascript" src="<r:page:data name="calendar_feed_page" />"></script>
  </r:if>

  <r:if expr="{{ BLANK(calendar_feed_page) }}">
    <script language="javascript" src="<r:site:data name="calendar_feed" />"></script>
  </r:if>

</ul>

<div class="so-calendar-widget__postscript">
  <r:editable_region name="so-calendar-widget__postscript" scope="site">
    Put any additional info or links here.
  </r:editable_region>
</div>
