<r:set_var name="so_calendar_feed">
  <r:site:data name="calendar_feed" />
</r:set_var>

<div class="so-calendar-widget <r:page:content name="so-background-color-class--calendar" /> background">
  <div class="so-calendar-widget__container">

    <ul id="cal" class="wvu-calendar wvu-calendar--flex wvu-calendar--new">

    </ul>

  </div>
</div>

<r:content_for name="page_js">
  <script type="text/javascript" src="https://calendar.wvu.edu/Scripts/core.js"></script>
  <script type="text/javascript">
    ActiveData.Events(
        "https://calendar.wvu.edu/handlers/query.ashx?id=97c857fee08a4e54978cda2e18491d2e&tenant=&site=academic",
        function (response) {$("#cal").append(response.data);}
    );
  </script>
</r:content_for>
