<!-- Slots -->

<r:set_var name="slotValue__base" value="{$slotValue__base}" default="lede" />

<r:loop:each times="2">

  <r:set_var name="slot_number">default_content_0<r:item /></r:set_var>

  <r:set_var name="slot_value">
    <r:site:data name="{$slot_number}" />
  </r:set_var>

  <r:if v1="{$slot_value}" v2="anytych" op="=">
    <r:partial name="custom-patterns/so-magic-anytych--sitewide" />
  </r:if>

  <r:if v1="{$slot_value}" v2="action_hero" op="=">
    <r:partial name="custom-patterns/so-action-hero--sitewide" />
  </r:if>

  <r:if v1="{$slot_value}" v2="featurettes" op="=">
    <r:partial name="custom-patterns/so-featurettes" />
  </r:if>

  <r:if v1="{$slot_value}" v2="social_media" op="=">
    <r:partial name="custom-patterns/so-social-media" />
  </r:if>

  <r:if v1="{$slot_value}" v2="quicklinks" op="=">
    <r:partial name="custom-patterns/so-quicklinks--sitewide" />
  </r:if>

  <r:if v1="{$slot_value}" v2="twitter_widget" op="=">
    <r:partial name="custom-patterns/so-twitter-widget" />
  </r:if>

</r:loop:each>
