<!-- Slot 8 -->


<r:if v1="{$slot_04}" v2="testimonial" op="=">
  <r:partial name="custom-patterns/so-testimonial" />
</r:if>

<r:if v1="{$slot_04}" v2="adverts" op="=">
  <r:partial name="custom-patterns/so-adverts" />
</r:if>

<r:if v1="{$slot_04}" v2="social_media" op="=">
  <r:partial name="custom-patterns/so-social-media" />
</r:if>

<r:if v1="{$slot_04}" v2="calendar" op="=">
  <r:partial name="custom-patterns/so-calendar-widget" />
</r:if>

<r:if v1="{$slot_04}" v2="quicklinks" op="=">
  <r:partial name="custom-patterns/so-quicklinks" />
</r:if>

<r:if v1="{$slot_04}" v2="featurettes" op="=">
  <r:partial name="custom-patterns/so-featurettes" />
</r:if>

<r:if v1="{$slot_value}" v2="anytych_sitewide" op="=">
  <r:partial name="custom-patterns/so-magic-anytych--sitewide" />
</r:if>


<!-- Slot 9 -->


<r:if v1="{$slot_05}" v2="testimonial" op="=">
  <r:partial name="custom-patterns/so-testimonial" />
</r:if>

<r:if v1="{$slot_05}" v2="adverts" op="=">
  <r:partial name="custom-patterns/so-adverts" />
</r:if>

<r:if v1="{$slot_05}" v2="social_media" op="=">
  <r:partial name="custom-patterns/so-social-media" />
</r:if>

<r:if v1="{$slot_05}" v2="calendar" op="=">
  <r:partial name="custom-patterns/so-calendar-widget" />
</r:if>

<r:if v1="{$slot_05}" v2="quicklinks" op="=">
  <r:partial name="custom-patterns/so-quicklinks" />
</r:if>

<r:if v1="{$slot_05}" v2="featurettes" op="=">
  <r:partial name="custom-patterns/so-featurettes" />
</r:if>

<r:if v1="{$slot_value}" v2="anytych_sitewide" op="=">
  <r:partial name="custom-patterns/so-magic-anytych--sitewide" />
</r:if>
