<r:set_var name="noPatternB">
  custom-patterns/none
</r:set_var>

<r:set_var name="patternName4" default="{$noPatternB}" />
<r:set_var name="patternName5" default="{$noPatternB}" />
<r:set_var name="patternName6" default="{$noPatternB}" />
<r:set_var name="patternName7" default="{$noPatternB}" />

<r:set_var name="patternName4">
  custom-patterns/so-<r:page:data name="slot_04" />
</r:set_var>

<r:set_var name="patternName5">
  custom-patterns/so-<r:page:data name="slot_05" />
</r:set_var>

<r:set_var name="patternName6">
  custom-patterns/so-<r:page:data name="slot_06" />
</r:set_var>

<r:set_var name="patternName7">
  custom-patterns/so-<r:page:data name="slot_07" />
</r:set_var>

<r:partial name="{$patternName4}" />
<r:partial name="{$patternName5}" />
<r:partial name="{$patternName6}" />
<r:partial name="{$patternName7}" />
