<r:set_var name="noPattern">
  custom-patterns/none
</r:set_var>

<r:set_var name="patternName1" default="{$noPattern}" />
<r:set_var name="patternName2" default="{$noPattern}" />
<r:set_var name="patternName3" default="{$noPattern}" />

<r:set_var name="patternName1">
  custom-patterns/so-<r:page:data name="slot_01" />
</r:set_var>

<r:set_var name="patternName2">
  custom-patterns/so-<r:page:data name="slot_02" />
</r:set_var>

<r:set_var name="patternName3">
  custom-patterns/so-<r:page:data name="slot_03" />
</r:set_var>

<r:partial name="{$patternName1}" />
<r:partial name="{$patternName2}" />
<r:partial name="{$patternName3}" />
