<r:set_var name="noPattern">
  custom-patterns/none
</r:set_var>

<r:set_var name="patternName1" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_01" />
</r:set_var>

<r:set_var name="patternName2" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_02" />
</r:set_var>

<r:set_var name="patternName3" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_03" />
</r:set_var>

<r:set_var name="patternName4" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_04" />
</r:set_var>

<r:set_var name="patternName5" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_05" />
</r:set_var>

<r:set_var name="patternName6" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_06" />
</r:set_var>

<r:set_var name="patternName7" default="{$noPattern}">
  custom-patterns/so-<r:page:data name="slot_07" />
</r:set_var>

<r:partial name="{$patternName1}" />
<r:partial name="{$patternName2}" />
<r:partial name="{$patternName3}" />
<r:partial name="{$patternName4}" />
<r:partial name="{$patternName5}" />
<r:partial name="{$patternName6}" />
<r:partial name="{$patternName7}" />
