<div class="tix-its-on-us">
    <div class="tix-its-on-us__container">

        <div class="tix-its-on-us__item__logo">
            <img alt="The It's on Us campain logo" src="../images/tix-its-on-us-logo.svg" />
        </div>

        <div class="tix-its-on-us__item__copy">
            <ul>
                <li>To RECOGNIZE that non-consensual sex is sexual assault.</li>
                <li>To IDENTIFY situations in which sexual assault may occur.</li>
                <li>To INTERVENE in situations where consent has not or cannot be given.</li>
                <li>To CREATE an environment in which sexual assault is unacceptable and survivors are supported.</li>
            </ul>
            <a class="button button--white button--big" href="http://itsonus.org/">Take the Pledge</a>
        </div>
    
    </div>
</div>