<div class="tix-immediate-crisis">
  <div class="tix-immediate-crisis__container">
    <div class="tix-immediate-crisis__header">
        <h2>For Immediate Crisis</h2>
        <p>
          If you are fearful for yourself or another person in your current environment or situation:
        </p>
    </div>
    <a class="button button--blue button--big" href="tel:+1-304-293-3136">Call 911</a>
    <p class="so-action-hero__postscript">Or call West Virginia University Campus Police at <a href="tel:+1-304-293-3136">304-293-3136</tel>.</p>
  </div>
</div>
