<div class="tix-peer-advocacy-videos">
    <div class="tix-peer-advocacy-videos__container">

    <div class="tix-peer-advocacy-videos__copy">
        <h2>Peer Advocacy</h2>
        <p>Some sort of text about Peer Advocacy at WVU.</p>
    </div>

    <div class="tix-peer-advocacy-videos__video">
        <div class="u-wvu-embed-container">
            <iframe width="928" height="552" src="https://www.youtube.com/embed/UycK3hldHyQ" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    </div>
</div>