<div class="tix-triptych">
    <div class="tix-triptych__container">

        <div class="tix-triptych__item">
            <h2>Additional Help</h2>
            <p>Need to contact the Rape and Domestic Violence Information Center, see a Sexual Assault Counselor, or call the police?

</p>
            <a href="#" class="button">Find additional help</a>
        </div>

        <div class="tix-triptych__item">
            <h2>File a complaint</h2>
            <p>File a complaint regarding discrimination, harassment, sexual & domestic misconduct (including sexual assault), stalking, or retaliation.</p>
            <a href="#" class="button">File now</a>
        </div>

        <div class="tix-triptych__item">
            <h2>Prevention Programs</h2>
            <p></p>
            <a href="#" class="button">View available programs today</a>
        </div>

    </div>
</div>