<div class="tix-diptych">
    <div class="tix-diptych__container">

        <div class="tix-diptych__item">
            <h2>WellWVU Carruth Hotline</h2>
            <p>If you or someone you know is experiencing a crisis or a psychological emergency, call the WellWVU Carruth office to speak with an after-hours counselor.</p>
            <a href="tel:+1-304-293-4431" class="button">Call the WellWVU Carruth Hotline</a>
        </div>

        <div class="tix-diptych__item">
            <h2>RDVIC Hotline</h2>
            <p>RDVIC is a non-profit agency serving Monongalia, Preston, and Taylor counties in West Virginia. We provide services to men, women, and children who are currently experiencing or who are survivors of domestic violence, child abuse, incest, sexual assault, elder care abuse, care giver abuse, sexual harassment, or stalking.</p>
            <a href="tel:+1-304-293-5100" class="button">Call the RDVIC Hotline</a>
        </div>

    </div>
</div>