<div class="wvu-nav__social-media-icons">
  <div class="wvu-nav__social-media-icons-container">

    <r:edit_mode_only>
      <r:editable_region name="fb-link" scope="site" type="simple">
        Put Facebook URL here or delete me.
      </r:editable_region>
    </r:edit_mode_only>
    <r:page:if_has_content_for region="fb-link" always_show_in_edit_mode="true">
      <a href="<r:page:content name="fb-link" />"><img src="https://patterns.wvu.edu/images/social-media-icons/facebook.svg" alt="Facebook icon" /></a>
    </r:page:if_has_content_for>

    <r:edit_mode_only>
      <r:editable_region name="ig-link" scope="site" type="simple">
        Put Instagram URL here or delete me.
      </r:editable_region>
    </r:edit_mode_only>
    <r:page:if_has_content_for region="ig-link" always_show_in_edit_mode="true">
      <a href="<r:page:content name="ig-link" />"><img src="https://patterns.wvu.edu/images/social-media-icons/instagram.svg" alt="Instagram icon" /></a>
    </r:page:if_has_content_for>

    <r:edit_mode_only>
      <r:editable_region name="li-link" scope="site" type="simple">
        Put LinkedIn URL here or delete me.
      </r:editable_region>
    </r:edit_mode_only>
    <r:page:if_has_content_for region="li-link" always_show_in_edit_mode="true">
      <a href="<r:page:content name="li-link" />"><img src="https://patterns.wvu.edu/images/social-media-icons/linkedin.svg" alt="LinkedIn icon" /></a>
    </r:page:if_has_content_for>

    <r:edit_mode_only>
      <r:editable_region name="rs-link" scope="site" type="simple">
        Put RSS URL here or delete me.
      </r:editable_region>
    </r:edit_mode_only>
    <r:page:if_has_content_for region="rs-link" always_show_in_edit_mode="true">
      <a href="<r:page:content name="rs-link" />"><img src="https://patterns.wvu.edu/images/social-media-icons/rss.svg" alt="RSS icon" /></a>
    </r:page:if_has_content_for>

    <r:edit_mode_only>
      <r:editable_region name="tw-link" scope="site" type="simple">
        Put Twitter URL here or delete me.
      </r:editable_region>
    </r:edit_mode_only>
    <r:page:if_has_content_for region="tw" always_show_in_edit_mode="true">
      <a href="<r:page:content name="tw-link" />"><img src="https://patterns.wvu.edu/images/social-media-icons/twitter.svg" alt="Twitter icon" /></a>
    </r:page:if_has_content_for>

    <r:edit_mode_only>
      <r:editable_region name="yt-link" scope="site">
        Put YouTube URL here or delete me.
      </r:editable_region>
    </r:edit_mode_only>
    <r:page:if_has_content_for region="yt-link" always_show_in_edit_mode="true">
      <a href="<r:page:content name="yt-link" />"><img src="https://patterns.wvu.edu/images/social-media-icons/youtube.svg" alt="YouTube icon" /></a>
    </r:page:if_has_content_for>

  </div>
</div>
