---
layout: default
custom_data_attributes:
 - advertisements_id
 - agenda_id
 - calendar_id
 - featurettes_id
 - featurettes_2_id
 - hero
 - profiles_id
 - staff_directory_id
 - testimonials_id
 - slot_01
 - slot_02
 - slot_03
 - slot_04
 - slot_05
 - slot_06
 - slot_07
---


<r:partial name="custom-patterns/so-backpage-partials--top" />

<r:partial name="custom-patterns/so-backpage" />

<r:partial name="custom-patterns/so-backpage-partials--bottom" />


<r:if expr="{{ NOT(BLANK(default_content_01)) }}">
  <r:set_var name="patternNameD1">
    custom-patterns/so-<r:site:data name="default_content_01" />
  </r:set_var>
  <r:partial name="{$patternNameD1}" />
</r:if>

<r:if expr="{{ NOT(BLANK(default_content_02)) }}">
  <r:set_var name="patternNameD2">
    custom-patterns/so-<r:site:data name="default_content_02" />
  </r:set_var>
  <r:partial name="{$patternNameD2}" />
</r:if>

<r:if expr="{{ NOT(BLANK(default_content_03)) }}">
  <r:set_var name="patternNameD3">
    custom-patterns/so-<r:site:data name="default_content_03" />
  </r:set_var>
  <r:partial name="{$patternNameD3}" />
</r:if>
