---
layout: default
custom_data_attributes:
  - advertisements_id
  - agenda_id
  - featurettes_id
  - profiles_id
  - staff_directory_id
  - testimonials_id
---

<r:partial name="custom-patterns/so-hero" />

<r:partial name="custom-patterns/so-admin-hero" />

<r:partial name="custom-patterns/so-lede" />

<r:partial name="custom-patterns/so-magic-anytych" />

<r:partial name="custom-patterns/so-magic-anytych-2" />

<r:partial name="custom-patterns/so-magic-anytych-3" />

<r:partial name="custom-patterns/so-magic-anytych-4" />

<r:partial name="custom-patterns/so-action-hero" />

<r:partial name="custom-patterns/so-backpage-body" />

<r:partial name="custom-patterns/so-video" />

<r:partial name="custom-patterns/so-featurettes" />

<r:partial name="custom-patterns/so-profile" />

<r:partial name="custom-patterns/so-testimonial" />

<r:partial name="custom-patterns/so-adverts" />

<r:partial name="custom-patterns/so-social-media" />

<r:partial name="custom-patterns/so-calendar-widget" />

<r:partial name="custom-patterns/cs-event-agenda" />

<r:partial name="custom-patterns/so-quicklinks" />

<r:partial name="custom-patterns/so-twitter-widget" />

<r:partial name="custom-patterns/so-super-nav" />
