.tix-diptych {
    @include span-columns(12);
    @include wvu-blue-background;
}

.tix-diptych__container {
  @include outer-container();
  @include u-wvu-container-padding();
}

.tix-diptych__item {
    @include span-columns(12);
    h2{ margin-top: 0; }
    &:last-child { margin-top: 4em; }
    @include mq($bp-medium) {
        @include span-columns(6);
        &:last-child { margin-top: 0; }
    }
}